
* {
    margin: 0;
    padding: 0;
}

body {
    background: #fff;
    margin: 0;
    color: #5a5a5a;
}
/*Bootstrap modification*/
.col-md-4 {
    text-align: center;
}

.table {
    text-align: center;

}

.table > tbody > tr > td {
    border: 0px;
    vertical-align: inherit;
    /*filter: alpha(Opacity=20);*/
    /*-moz-opacity: 0.2;*/
    /*-khtml-opacity: 0.2;*/
    /*opacity: 0.2;*/
}

.td1 {
    text-align: right;
}

.table > tbody > tr .td2 {
    text-align: center;
    width: 50%;
    padding: 0;
    filter: alpha(Opacity=100);
    -moz-opacity: 1;
    -khtml-opacity: 1;
    opacity: 1;
}

.td3 {
    text-align: left;
}

html,
body {
    height: 100%;
}
/* Buttons Configuration */
.btn-conf {
    border-radius: 50px;
    font-size: 11px;
    letter-spacing: 1px;
    padding: 11px 28px 10px 28px;
    margin: 0 auto;
}

.btn-theme {
    background: #21c2c0;
    color: white;
}
/* HEADER*/
header {
    position: relative;
    background: #333;
    background-image: url('../img/demo-1-bg.jpg');
    overflow: hidden;
    background-position: center center;
    z-index: 1;
} 
body > header > div > div > h1{
    margin-top: 170px;
}  
.header-tagline{
    margin-bottom: 240px !important;
    z-index: 2 !important;
}
#particles-js{
    position: absolute !important;
    width: 100%;
    height: 100%;
}
#particles-js canvas{
    z-index: 1 !important;
}
.logo {
    position: absolute;
    left: 0;
    top: 0;
}

.logo img {
    width: 100px;
}

.header-title {
    color: #f9f1e9;
    text-align: center;
   // font-family: Open Sans Bold;
    font-size: 60px;

}

.header-tagline {
    color: #f9f1e9;
    text-align: center;
    font-size: 18px;
}
.header-title .thin {
   // font-family: Open Sans Light;
}
/*!* About *!*/
#about, #technology {
    background: #000000;
    padding-bottom: 80px;
    padding-top: 60px;
    color: #FFF;
}

#technology {
    min-height: 600px;
}
h3 {
    text-align: center;
}

#about p {
    text-align: left;
}
/*Technology*/
.technology-part{
    position: absolute;
    opacity: 0;
    font-size: 16px;
    transition: 1s ease-out 0.5s;
    z-index: 100;
}

.technology-part:first-child{
    top: -49px;
    left: 554px;
}
.technology-part:nth-child(2){
    top: -25px;
    left: 650px;
}
.technology-part:nth-child(3){
    top: 25px;
    left: 700px;
}
.technology-part:nth-child(4){
    top: 95px;
    left: 725px;
}
.technology-part:nth-child(5){
    top: 165px;
    left: 718px;
}
.technology-part:nth-child(6){
    top: 225px;
    left: 690px;
}
.technology-part:nth-child(7){
    top: 265px;
    left: 652px;
}
.technology-part:nth-child(8){
    top: 290px;
    left: 575px;
}
.technology-part:nth-child(9){
    top: 270px;
    left: 460px;
}
.technology-part:nth-child(10){
    top: 225px;
    left: 400px;
}
.technology-part:nth-child(11){
    top: 165px;
    left: 380px;
}
.technology-part:nth-child(12){
    top: 95px;
    left: 370px;
}
.technology-part:nth-child(13){
    top: 25px;
    left: 395px;
}
.technology-part:nth-child(14){
    top: -25px;
    left: 450px;
}
.active {
   opacity: 1;
}
#galaxy{
    margin-top: 40px;
    position: relative;
}
#sphere{
    background-image: url(../img/stars_11.png); 
background: radial-gradient(ellipse at center, rgba(0,204,255,1) 0%, rgba(0,0,0,1) 51%, rgba(0,0,0,1) 79%, rgba(0,0,0,1) 100%);
    background-size: cover;
    position:relative;
    width: 300px;
    height: 300px;
    border-radius: 50%;
    margin: 0 auto;
    animation: infinite-spinning 30s infinite linear;
}
@keyframes infinite-spinning {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.star{
    position: absolute;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #fff; 
    box-shadow: 0px 0px 10px 11px rgba(0,235,252,1);
    transition: 1s ease-out 0.5s;
    cursor: pointer;
}
.star:first-child {
    top:130px;
    left:10px;
   
}
.star:nth-child(2){
    top:15px;
    left:130px;
}
.star:nth-child(3){
    top:100px;
    left:130px;
}
.star:nth-child(4){
    left: 250px;
    top: 200px;
}
.star:nth-child(5){
    left: 185px;
    top: 180px;
}
.star:nth-child(6){
    left: 92px;
    top: 261px;
}
.star:nth-child(7){
    left: 65px;
    top: 205px;
}
.star:nth-child(8){
    left: 65px;
    top: 65px;
}
.star:nth-child(9){
    left: 210px;
    top: 65px;
}
.star:nth-child(10){
    left: 180px;
    top: 255px;
}
.star:nth-child(11){
    left: 75px;
    top: 155px;
}
.star:nth-child(12){
    left: 235px;
    top: 135px;
}
.star:nth-child(13){
    left: 145px;
    top: 135px;
}
.star:nth-child(14){
    left: 145px;
    top: 220px;
}
/*Footer*/
footer h1{
 text-align: center;
}
.message{
    width: 200px;
    margin:0 auto; 
}
.video{
    text-align: center;
}
.article{
    background-color: #333;
}